.art {
    min-height: 100vh;

    &__title-wrap {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }

        h2 {
            color: #FFFFFD;
            font-family: Canela;
            font-size: 48px;
            font-weight: 500;
            line-height: 120%;
            max-width: 550px;

            @media (max-width: 720px) {
                font-size: 42px;
            }
        }

        margin-bottom: 64px;
    }

    &__search {
        padding: 24px 0;

        input {
            padding: 12px 24px;
            border-radius: 8px;
            color: black;
            outline: none;
        }
    }

    &__cards-wrap {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        gap: 30px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, max-content);
            justify-content: center;
        }

        @media (max-width: 690px) {
            grid-template-columns: repeat(1, max-content);
        }

    }
}

.card {
    position: relative;
    width: max-content;
    padding: 20px;
    border-radius: 28px;
    border-top: 1px solid rgba(65, 58, 108, 0.85);
    background: #131E3A;

    &:hover &__delete {
        display: block;
    }

    &__delete {
        position: absolute;
        right: 20px;
        top: 20px;
        display: none;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: 0.3s;

        &:active {
            transform: scale(0.9, 0.9);
        }
    }

    &__img {
        width: 370px;
        height: 340px;
        object-fit: cover;
        border-radius: 16px;
        margin-bottom: 24px;

        @media (max-width: 1360px) {
            width: 270px;
            height: 240px;
        }
    }

    &__name-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        max-width: 350px;
    }

    &__name {
        display: block;
        color: #FFFFFD;
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
        max-width: 270px;
    }

    &__price {
        color: #FFFFFD;
        font-family: Inter;
        font-weight: 700;
        line-height: 120%;
    }

    &__time {

        span:nth-child(1) {
            display: block;
            color: #838382;
            font-family: Inter;
            font-size: 14px;
            line-height: 160%;
        }

        span:nth-child(2) {
            display: flex;
            gap: 12px;
            align-items: center;
            color: #FFFFFD;
            font-weight: 700;
            line-height: 120%;
        }
    }

    &__time-wrap {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .second-btn {
        width: max-content;
    }
}